body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000;

  display: flex;
  justify-content: center; 
  align-items: center;     
}

.container {
  width: 90%;
  max-width: 900px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow-y: auto;
  max-height: 95%;

  display: flex;           
  flex-direction: column;   
  align-items: center;     
  text-align: center;      
}

h1, h2, h3, p, li, input, select, button {
  color: #000;
}

.section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  width: 100%;
  max-width: 600px; 
}
